@import './theme';

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-main;
	background: var(--background);
}

.theme-btn {
    display: flex;
    align-items: center;
    gap: 20px;
}
