.container {
	padding: 0 $container-padding;
	max-width: $container-width;
	margin: 0 auto;
}

[class *= __container] {
	padding: 0 15px;
	max-width: 1450px;
	margin: 0 auto;

	border-bottom: 1px #8A8474 solid;

	@media (max-width: 874.98px) {
		border-bottom: none;
	}
}

.container-right {
	/* overflow-x: hidden; */
	padding-left: calc(
		(100% - $container-width) / 2 + $container-padding
	);

	@media (max-width: var(--laptop-size)) {
		padding-left: $container-padding;
	}
}

.container-left {
	/* overflow-x: hidden; */
	padding-right: calc(
		(100% - $container-width) / 2 + $container-padding
	);

	@media (max-width: var(--laptop-size)) {
		padding-right: $container-padding;
	}
}
