.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

.link {
	padding: 6px 14px;
	color: var(--section-top-link);
	font-size: 23px;
	line-height: 27px;
	border: 1px solid var(--section-top-link);
	border-radius: 50px;
	transition: all .3s ease;

	&:hover {
		color: var(--section-top-link-hover);
		background: var(--section-top-link-bg-hover);
	}
}

.mobile-none {
    @media (max-width: 874.98px) {
        display: none !important;
    }
}

.table-none {
    @media (max-width: 525.98px) {
        display: none !important;
    }
}