.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

.link {
	padding: 6px 12px 6px 17px;
	color: #8a8474;
	font-size: 23px;
	line-height: 27px;
	border: 1px solid #8a8474;
	border-radius: 50px;
}

.mobile-none {
    @media (max-width: 874.98px) {
        display: none !important;
    }
}

.table-none {
    @media (max-width: 525.98px) {
        display: none !important;
    }
}