.header {
    &__row {
		padding: clamp(0.5rem, 0.364rem + 0.68vw, 0.938rem) 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
		display: flex;
		align-items: center;
		gap: 35px;
    }

	&__themes {
		display: flex;
		align-items: center;
	}

    &__list {
        display: flex;
        align-items: center;
        gap: 40px;

		@media (max-width: 821.98px) {
			gap: 20px;
		}

		@media (max-width: 676.98px) {
			display: none;
		}
    }

    &__link {
		color: var(--text-color);
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0px;
        transition: all .3s ease;

        &:hover {
            color: #8a8474; 
        }

        @media (max-width: 821.98px) {
            font-size: 20px;
        }
    }


    &__actions {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
