.about {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-bottom: clamp(3.125rem, -0.415rem + 17.7vw, 15.625rem);
        gap: 20px;

        @media (max-width: 902.98px) {
            flex-wrap: wrap;
            gap: 0px;
            justify-content: start;
        }

        @media (max-width: 473.98px) {
            flex-direction: column;
        }
    }

    &__location {
        max-width: 250px;

        @media (max-width: 902.98px) {
            margin-bottom: 32px;
            margin-right: 20px;
        }

        @media (max-width: 473.98px) {
            margin-right: 0;
        }
    }

    &__location-title {
        color: var(--text-color);
        font-size: 23px;
        font-weight: 300;
        line-height: 27px;

        @media (max-width: 902.98px) {
            font-size: 20px;
        }
    }

    &__date {
        max-width: 145px;

        @media (max-width: 902.98px) {
            margin-bottom: 40px;
        }
    }

    &__date-title {
        color: var(--text-color);
        font-size: 23px;
        font-weight: 300;
        line-height: 27px;

        @media (max-width: 902.98px) {
            font-size: 20px;
        }
    }

    &__heading {
        max-width: 725px;

        @media (max-width: 1224.98px) {
            max-width: 500px;
        }

        @media (max-width: 995.98px) {
            max-width: 400px;
        }

        @media (max-width: 902.98px) {
            max-width: 100%;
            width: max-content;
        }
    }

    &__heading-text {
        color: var(--text-color);
        font-size: clamp(1.375rem, 0.95rem + 2.12vw, 2.875rem);
        font-weight: 300;
    }
}
